name: Opentrons App on macOS
on:
  workflow_dispatch:
    inputs:
      dmg-url:
        description: "Opentrons dmg URL."
        required: true
        default: "https://s3.amazonaws.com/opentrons-app/builds/Opentrons-v4.5.0-mac-b12575.dmg"
      chromedriver-version:
        description: "Chromedriver binary version."
        required: true
        default: "76.0.3809.126"

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Check out repository code.
        uses: actions/checkout@v2
      - name: Brew update.
        run: brew update
      - name: Replace Cask url with dmg-url input variable.
        run: python3 replace_url.py ${{ github.event.inputs.dmg-url }}
      - name: Move the cask into the Brew core casks tap.
        run: |
          prefix=`brew --prefix`
          target="$prefix/homebrew/Library/Taps/homebrew/homebrew-cask/Casks/opentrons.rb"
          mv opentrons.rb $target
      - name: Brew Install Opentrons.
        run: brew install opentrons
      - name: Install Chromedriver on the path.
        run: |
          chmod +x ./mac_get_chromedriver.sh
          ./mac_get_chromedriver.sh ${{ github.event.inputs.chromedriver-version }}
          chromedriver --version
      - name: Install python dependencies
        run: |
          pip3 install -U pipenv
          pipenv install --system --skip-lock
      - name: Use selenium.
        run: |
          EXECUTABLE_PATH=/Applications/Opentrons.app/Contents/MacOS/Opentrons
          python3 selenium_basic.py
      - name: Archive pic.
        uses: actions/upload-artifact@v2
        with:
          name: screenshot
          path: screenshot.png
