name: Build on windows
on:
  workflow_dispatch:
    inputs:
      exe:
        description: "Opentrons exe filename"
        required: true
        default: "Opentrons-v4.5.0-win-b12575.exe"

jobs:
  build:
    runs-on: windows-2019
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Put cask in place
        run: |
          Get-ChildItem
          choco --version
          Write-Output "exe is: ${{ github.event.inputs.exe }}"